<div class="mt-4">
    <ul class="list-group">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Url</th>
      <th scope="col">CreateAt</th>
      <th scope="col">UpdateAt</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each articles}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.url}}</td>
      <td>{{this.createAt}}</td>
      <td>{{this.updateAt}}</td>
      <td>{{this.status}}</td>
      <td>
        <button href="" type="button" class="btn btn-primary">Sửa</button>       
        </td>
      <td>
        <button href="" type="button" class="btn btn-danger">Xóa</button>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</ul>
</div>





